<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if user.is_authenticated %}
    <p>hello {{ user.name }}</p>
    <p>batch no {{ user.batch_number }}</p>
    <p>phone number {{ user.phone_number }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'register' %}">Register</a>
{% endif %}
</body>
</html>